* {
    font-family: inherit;
}

body {
    overflow: hidden;
    font-size: 16px;
    font-family: "Consolas", monospace;
    background: #000;
}

#app {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
    background-color: black;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

[hidden] {
    display: none !important;
}

.darkness-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.darkness-overlay.hidden {
    display: none;
}