body {
    overflow: hidden;
}

#app {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
    background-color: lightgray;
}

.game-container {
    position: relative;
    width: 1280px;
    height: 720px;
    background: #8FBC8F;
    margin: 0 auto;
    transition: transform 250ms ease-out;
}

.player {

    /*transition: transform 100ms linear;*/
}

.wall {
    position: absolute;
    background: cyan;
    border: 2px solid green;
    box-sizing: border-box;
}
.skin1 {
    background-image: url("../assets/skins/player1/new.png");
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
}