body {
    overflow: hidden;
}


#flashlight {
    position: absolute;
    pointer-events: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 100px;
    top: 100px;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.85);
}

#app {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
    background-color: black;
}

.game-container {
    position: relative;
    width: 2000px;
    height: 2000px;
    background: #8FBC8F;
    margin: 0 auto;
    transition: transform 250ms ease-out;
}

.player {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    /*transition: transform 100ms linear;*/
}

.npc {
    position: absolute;
    width: 20px;
    height: 20px;
    background: blue;
}

.wall {
    position: absolute;
    background: cyan;
    border: 2px solid green;
    box-sizing: border-box;
}