body {
    overflow: hidden;
}

#flashlight {
    position: absolute;
    pointer-events: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 100px;
    top: 100px;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.85);
}

.game-container {
    position: relative;
    width: 2000px;
    height: 2000px;
    background-image: url('../assets/skins/map/map1.png');
    background-size: 2000px 2000px;
    background-repeat: no-repeat;
    /*overflow: hidden;*/

}

.player {
    position: absolute;
    background-image: url('../assets/skins/player1/skins.png');
    background-size: 384px 384px;
    image-rendering: pixelated;
}

.npc {
    position: absolute;
    width: 20px;
    height: 20px;
    background: blue;
}

.wall {
    position: absolute;
    /*background: cyan;*/
    /*border: 2px solid green;*/
    box-sizing: border-box;
}