#mainMenuContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,rgba(207, 207, 207, 1) 15%, rgba(110, 110, 110, 1) 46%, rgba(74, 25, 25, 1) 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    h1 {
        color: dimgray;
    }

    button {
        width: 500px;
        margin-top: 10px;
    }

    button:hover {
        cursor: pointer;
        background-color: lightgray;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .game-entry-dialog {
        position: absolute;
        z-index: 100;
    }

    input {
        margin-top: 2px;
    }
}

.menu-frame {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: darkgray ;
    padding: 30px;
    border-radius: 25px;
    border: 3px solid black;
}

.menu-frame.hidden {
    display: none;
}

.menu-item {
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 25px;
}

.menu-back {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100px;
}

.title {
    font-size: 22px;
}

.guide {
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
}

.control-item, .bonus-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
}

.key {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #666;
    border-radius: 6px;
    box-shadow: 2px 4px #333;
    color: black;
}

.desc {
    margin-left: 10px;
}

.bonus-item img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.settings {
    z-index: 10;
}

.volume-slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: #f0f0f0;
    border-radius: 4px;
    border: 2px solid black;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: darkgray;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
}

.volume-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: darkgray;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
}

